<div data-controller="infinite-scroll">
    <div data-infinite-scroll-target="entries">

    <div class="cocktail-cards">
      <% @cocktails.order('lower(name)').each do |cocktail| %>
        <div class="card">
          <div class="card-title">
            <h3><%= cocktail.name.capitalize %></h3>
          </div>
          <div class="card-image">
            <% if cocktail.tag %>
              <%= link_to  cocktail_path(cocktail) do %>
                <%= image_tag "#{cocktail.tag}", alt: "#{cocktail.name}" %>
              <% end %>
            <% else %>
              <%= link_to  cocktail_path(cocktail) do %>
                <div class="img-bg"></div>
              <% end %>
            <% end %>
          </div>
          <div class="card-rating">
            <% if cocktail.rating %>
              <p class="stars"><%= "✩" * cocktail.rating %></p>
            <% else %>
            <p></p>
            <% end %>
          </div>
        </div>
      <% end %>
    </div>

  </div>

  <div data-infinite-scroll-target="pagination">
    <div class="page-num">
      <%== pagy_nav(@pagy) %>
    </div>
  </div>
</div>