<% alcohol = [
  'tequila', 'rum', 'vodka', 'gin', 'whisk(e)y', 'brandy', 
  'vermouth', 'liqueur', 'beer', 'wine', 'non-alcoholic', 'other'
] %>

<div class="form-container">
  <div class="create-form">
  <%= simple_form_for @cocktail do |c| %>
    <%= c.input :name, label: "Name (max. 20 characters)" %>
    <%# c.input :photo, as: :file %>
    <%= c.input :ingredient %>
    <%= c.input :description %>
    <%= c.label :alcohol %>
    <%= c.select :alcohol, alcohol, :prompt => 'Select One', placeholder: "hello"  %>
    <%= c.submit "Share cocktail" %>
  
  </div>
    <div class="error-msg">
      <% if flash[:cocktail_errors] %>
        <ul>
          <% flash[:cocktail_errors].each do |msg| %>
            <li>x <%= msg %></li>
          <% end %>
        </ul>
    <% end %>
    </div>
  <% end %>
</div>