<div class="who-container" id="who">
  <div class="who-grids">
    <div class="panel-07">
      <div class="who-title">
       <h1>But who made me crave a cocktail?</h1>
      </div>
      <%= image_tag "blob_white03.png", alt: "blob", width: "100px", class: "blob-who-white" %>
    </div>
    <div class="panel-08">
      <p>
        Hello! <br><br>My name is Tep, and it's my fault if you find yourself thirsty for a delicious cocktail!
        I coded and designed this website for a school assignment so don't take the recipes too seriously.
        
        <br><br>

        A newly gradute from a coding bootcamp, this website is part of my portfolio. If you want to know more about it 
        or about me, feel free to contact me. I'll be glad to answer any of your questions and/or listen to your feedback. 
        I can even give you some <strong>real</strong> cocktail recipes.

        <br><br>

        <span id="icon">
          <%= link_to '<i class="fab fa-linkedin">'.html_safe, "https://www.linkedin.com/in/tep-y/", target: :_blank %></i>
          <%= link_to '<i class="fab fa-github-square"></i>'.html_safe, "https://github.com/tep-y", target: :_blank %></i>
          <%= link_to '<i class="fab fa-instagram-square"></i>'.html_safe, "https://instagram.com/robauheart", target: :_blank %></i>
          <br>
          <%= mail_to 'tep.yith@gmail.com' do %>
            <i class="fas fa-envelope-square">
          <% end %></i>
          <!-- CHANGE TO PORTFOLIO LINK -->
          <%= link_to '<i class="far fa-id-card"></i>'.html_safe, "https://www.linkedin.com/in/tep-y/", target: :_blank %></i>
        </span>
      </p>
    </div>
  </div>

</div>