<%= render "landing" %>

<div class="what-container">
  <div class="what-grids">
    <div class="panel-03">
      <h1>What<br> is this about?</h1>
      <%= image_tag "blob_green03.png", alt: "blob", width: "150px", class: "blob-what-green" %>
      <%= image_tag "blob_pink03.png", alt: "blob", width: "80px", class: "blob-what-pink" %>
    </div>
    <div class="panel-04">
      <p>
      What is this web site all about? How did you get here?
      Maybe subconsciously you were thirsty for a drink!

      <br><br>

      Free Pour Cocktail is a place where you can find
      the perfect recipe for the drink you're looking for.
      It can be as simple as a classic Daiquiri or discover
      someone else's creation! What ever mood you're in, you'll find something to match it here.

      <br><br>

      Enjoy and drink responsibly. Cheers!
      </p>
    </div>
  </div>

  <div class="banner-image">
  </div>
</div>

<div class="cocktail-container">

  <div class="cocktail-title">
    <h1>= Cocktails =</h1>
  </div>

  <div class="cocktail-list">
    <div></div>
    <div>
      <div class="cocktail-info">
        <div class="cocktail-search">
          <p>view:</p>
          <p>spirit</p>
          <p>rating</p>
        </div>
        <div class="cocktail-cards">
        
          <div class="card">
            <% @cocktails.each do |cocktail| %>
              <div class="card-title">
                <h3><%= cocktail.name.capitalize %></h3>
              </div>
              <div class="card-image">
                <%= image_tag "#{cocktail.name}.jpg", alt: "#{cocktail.name}" %>
              </div>
              <div class="card-rating">
                <p class="stars"><%= "✩" * cocktail.rating %></p>
              </div>
            <% end %>
          </div>

        </div>
      </div>
    </div>
      <div></div>
  </div>

</div>



<%
=begin %>
    <div class="col-12" id="nav-index">
      <%= link_to "Create a new cocktail", new_cocktail_path, class: "btn btn-info" %>
      <%= link_to "Go to Cocktail List", root_path(:anchor => "cocktail-list"), class: "btn btn-info" %>
    </div>
</div>


  <%# <div class="row text-center">
    <div class="col-12" id="content-bar">
      <p>Your online repertoire for custom made cocktail recipes.</p>
    </div>
  </div> %>



<div class="container text-center">
  <div class="row">
    <div class="col-12">
      <h1 class="cocktail-list" id="cocktail-list">Cocktail List</h1>
      <%= image_tag "cocktail_icon.png", alt: "cocktail_icon", class: "menu-icon", width: "40px;" %>
      <ul>
        <% @cocktails.each do |cocktail| %>
          <li><%= link_to cocktail.name, cocktail_path(cocktail) %></li>
        <% end %>
      </ul>
    </div>
  </div>
</div>

<%
=end %>






<div class="footer">
  <p>Icons made by <a href="https://www.freepik.com" title="Freepik">Freepik</a> from <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a></p>
</div>

