<div class="" >
    <div class="main-bar">
      <%= image_tag "logo.png", alt: "logo", width: "220px" %>
    </div>
  <div class="background-cover">
    <div class="description">
      <p>Your online repertoire for custom made cocktail recipes.</p>
    </div>
  </div>
<%
=begin %>
    <div class="col-12" id="nav-index">
      <%= link_to "Create a new cocktail", new_cocktail_path, class: "btn btn-info" %>
      <%= link_to "Go to Cocktail List", root_path(:anchor => "cocktail-list"), class: "btn btn-info" %>
    </div>
<%
=end %>
</div>


  <div class="row text-center">
    <div class="col-12" id="content-bar">
      <p>Your online repertoire for custom made cocktail recipes.</p>
    </div>
  </div>

</div>

<div class="container text-center">
  <div class="row">
    <div class="col-12">
      <h1 class="cocktail-list" id="cocktail-list">Cocktail List</h1>
      <%= image_tag "cocktail_icon.png", alt: "cocktail_icon", class: "menu-icon", width: "40px;" %>
      <ul>
        <% @cocktails.each do |cocktail| %>
          <li><%= link_to cocktail.name, cocktail_path(cocktail) %></li>
        <% end %>
      </ul>
    </div>
  </div>
</div>


<div class="footer">
  <p>Icons made by <a href="https://www.freepik.com" title="Freepik">Freepik</a> from <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a></p>
</div>

