<div class="show-container">
  <%= render 'navbar' %>

  <div class="show-content">
    <div class="show-cocktail">
      <% if @cocktail.tag %>
        <div class="cocktail-image" style="background: url('<%= image_url @cocktail.tag %>') center; background-size: cover;">
      <% else %>
        <div class="cocktail-text">
          <div class="text">
          <h2>There's no image for this cocktail. But just close your eyes and
        image yourself on the beach, with this cocktail in your hand. The sun is shining bright, the water is cool,
        and there's just hapiness around you. Everything is a-okay!</h2>
          </div>
      <% end %>
      </div>

      <div class="show-infos">
        <div class="title">
          <% if @cocktail %>
            <h1><%= @cocktail.name.capitalize %></h1>

        </div>
        <div class="subtile">
          <% if @cocktail.alcohol %>
            <p class="cocktail-subtile">Main alcohol : <%= @cocktail.alcohol.capitalize} %></p>
          <% else %>
            <p></p>
          <% end %>
          <p>|</p>
          <p>
            <% if @cocktail.rating && @cocktail.rating > 0 %>
              <%= "#{@cocktail.rating}/5" %>
              <%= "✩" * @cocktail.rating %>
            <% else %>
              Not yet rated
            <% end %>
          </p>
        </div>
        <div class="ingredient">
          <div class="ingredient-col1">
            <h2>Ingredients :</h2>
            <p><%= @cocktail.ingredient.gsub(/\n/, "<br>").html_safe %>
          </div>
          <div class="ingredient-col2">
            <h2>Description :</h2>
            <p><%= @cocktail.description %></p>
          </div>
        </div>
        <div class="back-link">
          <%= link_to "Back", :back %>
        </div>

          <% else %>
            <p></p>
          <% end %>
      </div>
    </div>
  </div>

</div>

<%
=begin %>

          <p><% @ingredient.each do |i| %>
            <%= i %>
          <% end %></p>

<%= image_tag "#{cocktail.tag}", alt: "#{cocktail.name}" %>

<%= render 'navbar.html.erb' %>

<div class="card-product">
  <%# cl_image_tag @cocktail.photo.key, width: 300 %>
  <div class="card-product-infos">
    <h1><%= @cocktail.name %></h1>
    <p><%= @cocktail.description %></p>
    <% @cocktail.doses.each do |dose| %>
      <p><%= "#{dose.description} #{dose.ingredient.name}" %>
      <%= link_to icon('fas', 'ban'), dose_path(dose), method: :delete, data: { confirm: "Are you sure?" }  %>
       </p>
    <% end %>
    <%= image_tag "#{@cocktail.name}.jpg", height: 300 %>

  <%= link_to "Add an ingredient", new_cocktail_dose_path(@cocktail), class: "add-link" %>
  </div>
</div>
-->

<%
=end %>

