<h1>Doses page</h1>

<%= simple_form_for [@cocktail, @dose] do |c| %>
  <%= c.input :description %>
  <%= c.association :ingredient %>
  <%= c.submit %>
<% end %>

<p><%= link_to "Main Page", cocktails_path  %></p>
