<h1>Add an ingredient</h1>

<%= simple_form_for [@cocktail, @dose] do |c| %>
  <%= c.input :description, label: "Quantity" %>
  <%= c.association :ingredient %>
  <%= c.submit "Create Ingredient" %>
<% end %>

<p><%= link_to "Main Page", root_path  %></p>
